#theContent{
	width:98%;
	margin:20px auto;
}

ul.bxslider, .form-list{
	list-style:none;
	}

.fieldset {
	background: none repeat scroll 0 0 #FBFAF6 !important;
	border: 1px solid #BBAFA0 !important;
	margin: 15px auto !important;
	border-radius: 12px 12px 12px 12px !important;
	padding: 22px 25px 12px 33px !important;
	display:table;
	width:90%;
	float:none;
}

.fieldset .legend {
	background: none repeat scroll 0 0 #F9F3E3 !important;
	border: 1px solid #F19900 !important;
	color: #E76200 !important;
	float: left !important;
	font-size: 13px !important;
	font-weight: bold !important;
	margin: -33px 0 0 -10px !important;
	padding: 0 8px !important;
	position: relative !important;
	border-radius:12px;
	line-height:22px;
}

.form-contact .fieldset ul.form-list{
	width:100%;
}

.form-list li {
	margin:0px 0 8px !important;
	width:auto !important;
}


.form-list li .field {
	height: auto !important;
	margin-bottom:10px !important;
	margin-top:10px !important;
}


.form-list .field {
	float: left !important;
	width: 275px !important;
}


.form-list em{color:red;}
.form-list .field label{color: #0b0b0b; font: 13px/19px Tahoma,Geneva,sans-serif; padding:0 20px 0 20px; float:left; line-height:30px; min-width:100px;}
.form-list .field .input-box{color:#494A4B; font: 12px/19px Tahoma,Geneva,sans-serif; padding:0; float:left; height:20px; width:auto; height:auto;}
.form-list .field .input-box input[type="text"]{width:200px; height:20px; padding:5px;}
.form-list .field .input-box select{width:212px; height:26px; padding:5px;}
.form-list .field .input-box input[type="checkbox"]{ float:left;  margin: 4px 0 0;}
.form-list .field .input-box input[type="radio"]{ float:left;  margin: 4px 0 0;}
.form-list .field .input-box span{padding:0 10px 0 5px; float:left;}
.form-list .field .input-box textarea{height: 70px; padding: 5px; width: 435px; resize:none;}
		

		
		
.form-list .field .input-box{
	width:100% !important;
}

.contactForm-custom{
	background: none repeat scroll 0 0 white;
    float: left;
    padding: 10px;
    width: 92% !important;
}


.form-list li.fields .field .input-box .contactForm-custom textarea{
    float: right;
    margin: 10px 40px 10px 10px !important;
    min-height: 218px;
    padding: 10px;
    width: 45% !important;
	box-shadow: 0px 0px 5px #AAAAAA;
	}

	
.contactForm-custom img{
	max-height: 400px;
	max-width: 40% !important;
    margin: 10px;
	box-shadow: 0px 0px 5px #AAAAAA;
	float:left;
}


.contactForm-custom img:hover, .contactForm-custom label:hover {
	cursor:pointer;
}




@media only screen and (max-width: 767px){
		.contactForm-custom img{
			width:90% !important;
			max-width:90% !important;
		}
		
		.form-list .field .input-box .contactForm-custom textarea{
			width:90% !important;
			max-width:90% !important;
			margin:0px;
		}
		
		.fieldset{
			width:80% !important;
		}
	
		ul.bxslider{
			padding:0px !important;
			width:100%;
		}
	}


#butt_prev {
    color: #000000;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    width: 150px;
}

#butt_send {
    color: #000000;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 6px;
    padding: 5px;
    width: 200px;
}

#butt_next {
    color: #000000;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 6px;
    padding: 5px;
    width: 150px;
}
	
	
label {
	display: inline;
}

.regular-radio {
	display: none;
}

.regular-radio + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px 9px 9px 5% !important;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	width:90%;
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #7BA213;
}

.regular-radio:checked + label:after {
	content: '\2714';
	color: #7BA213;
    font-size: 14px;
    left: 3px;
    line-height: 45px;
    padding-left: 10px;
    position: absolute;
    top: 0;
}


.big-radio + label {
	padding: 18px;
}

.big-radio:checked + label:after {
	font-size: 28px;
	left: 6px;
	color:#7BA213;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}


/* Tiny Carousel */
#slider1 { overflow:hidden; padding: 0 0 10px;   }
#slider1 .viewport { float: left; width: 240px; height: 125px; overflow: hidden; position: relative; }
#slider1 .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider1 .next { background-position: 0 0; margin: 30px 0 0 10px;  }
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}