@charset "utf-8";
/* CSS Document */

#widget_left_navigation{
	background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    margin-top:20px;
    padding: 0;
    width: 100%;
	border:1px solid #2B528E;
	border-radius:8px;
}

#widget_left_navigation .widget_head{
	background: none repeat scroll 0 0 #2B528E;
    color: white;
    float: none;
    margin: 0 auto;
    padding: 10px;
	border-radius:8px 8px 0px 0px;
    width: auto;
}

#widget_left_navigation .widget_content{
	background: none;
    padding: 10px;
    width: auto;
	float:left;
}

#widget_left_navigation .widget_content ol{
	 color: black;
    display: table;
    float: left;
    height: 22px;
    line-height: 25px;
    min-width: 100px;
    padding-left: 0;
    text-align: left;
}


#widget_left_navigation .widget_content ol li{
	float: left;
    width: 100%;
}

#widget_left_navigation .widget_content ol li a{
	float: left;
    height: 22px;
    margin: 0px;
    padding: 5px 5px 5px 10%;
    width: 90%;
	background: white;
	border:none;
}

#widget_left_navigation .widget_content ol li a:hover{
	background:#2B528E;
	color:white
}

