@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
	background: url("../images/mainbg.png") repeat scroll 0 0 transparent;
}
@font-face {
				font-family: 'Rockwell';
				src: url('../fonts/rock.eot');
				src: url('../fonts/rock.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/rock.woff') format('woff'),
						 url('../fonts/rock.ttf') format('truetype'),
						 url('../fonts/rock.svg#rock') format('svg');
				font-weight: normal;
				font-style: normal;
}

body{ background:url(../images/admin-bg.jpg) repeat 0 0; font:normal 12px/18px 'Rockwell'; color:#929191; }

.wrapper{ width:100%; float:left; margin: 0 auto -34px; height: auto !important; min-height:100%; }

.header-main{ width:447px; margin:0 auto; }
.header{ width:447px; float:left; height:261px; }

.logo{ width:447px; height:162px; float:left; margin:41px 0 0 0;  }
.logo a{ width:447px; height:162px; background:url(../images/logo.png) no-repeat 0 0; display:block; text-indent:-99999px; }

.login-outer{ width:100%; float:left; background:url(../images/login-bg.png) repeat-x 0 0; }
.login-inner{ width:447px; margin:0 auto; }
.login{ width:407px; float:left; height:278px; margin:0 40px 49px 0; }

.log-title{ width:39px; float:left; }
.log-title img{ float:left; margin:65px 0 0 0; }

.form{ width:319px; float:left; background:url(../images/form-bg.png) no-repeat 0 0; height:233px; padding:45px 25px 0 24px; } 

.form input[type="text"], input[type="password"]{ width:246px; height:22px; background:transparent; padding:10px; font:normal 15px/22px 'Rockwell'; color:#8d8e8e;  }

.user{ width:266px; height:42px; float:left; background:url(../images/user.png) no-repeat 0 0; margin:0 0 24px 0; padding:0 0 0 53px; }
.password{ width:266px; height:42px; float:left; background:url(../images/password.png) no-repeat 0 0; margin:0 0 24px 0; padding:0 0 0 53px; }
.log-btn{ width:318px; height:37px; float:left; margin:0 0 15px 0; }
.log-btn input[type="submit"]{ width:318px; height:37px; background:url(../images/login.png) no-repeat 0 0; font:normal 20px/37px 'Rockwell'; color:#ffffff; text-align:center; display:block; border:none; cursor:pointer; }
.log-btn input[type="submit"]:hover{ background-position:0 -37px; }
.forget{ width:319px; float:left; }
.forget a{ font:normal 14px/20px 'Rockwell'; color:#edecec; padding:0 0 4px 0; }
.forget a:hover{ background:url(../images/dot.png) repeat-x 0 bottom; }

.push { height:34px; }

.footer-outer{ width:100%; float:left; background:#272727; margin-top: 48px;}
.footer-inner{ width:447px; margin:0 auto; }
.footer{ width:447px; float:left; height:34px; }
.footer p{ font:normal 12px/34px 'Rockwell'; color:#c7c6c6; text-align:center; }

/*--- after login page 03.12.2012 ---*/


.header-main{ width:1000px; margin:0 auto; }
.header{ float: none;
    height: 140px;
    margin: 0 auto;
    width: 1000px;}
.header .logo{ width:245px; height:89px; float:left; margin:24px 0 0 10px; }
.header .logo a{ width:245px; height:89px; background:url(../images/inner-logo.png) no-repeat 0 0; display:block; text-indent:-99999px; }

.main .top{  margin: 0 auto; float: none; width:1000px;  height:8px; background:url(../images/inner-main-top.png) no-repeat 0 0; text-indent:-99999px; }
.main .bot{  margin: 0 auto; float: none; width:1000px;  height:16px; background:url(../images/inner-main-bot.png) no-repeat 0 0; text-indent:-99999px; }
.main .mid{  margin: 0 auto; float: none; width:996px;  background:url(../images/inner-main-repe.png) repeat-y 0 0; padding:7px 2px 30px 2px; }

.content-tab{ width:974px; float:left; padding: 30px 11px 0 11px; }
.content-tab .inner{ width:944px; float:left; padding:0 15px; border-bottom:solid 1px #f0efef; }
.content-tab .last-inner{ border:none; }
.content-tab .inner ul{ margin:0 0 17px 0; float:left; }
.content-tab .inner ul li{ font:normal 14px/39px 'Rockwell'; color:#6e6e6f; margin:17px 0 0px 0; float:left; }
.content-tab .inner ul li input[type="text"]{ width:254px; height:19px; background:url(../images/input-bg.png) no-repeat 0 0; padding:10px; font:normal 14px/19px 'Rockwell'; color:#6e6e6f; float:left; }
.content-tab .inner ul li input[type="button"]{ width:121px; height:37px; background:url(../images/btn.png) no-repeat 0 0; text-align:center; font:normal 18px/37px 'Rockwell'; color:#ffffff; }
.content-tab .inner ul li input[type="button"]:hover{ background-position:0 -37px; }
.content-tab .inner ul li input[type="submit"]{ width:82px; height:37px; background:url(../images/submit.png) no-repeat 0 0; text-align:center; font:normal 18px/37px 'Rockwell'; color:#ffffff;  }
.content-tab .inner ul li input[type="submit"]:hover{ background-position:0 -37px; }
.content-tab .inner ul li span{ text-align:left; margin:0 14px 0 0; float:left; min-width:200px; }
.content-tab .inner ul li label.btn{ float:left; margin:0 0 0 14px; width:121px; }
.content-tab .inner ul li.sub{ width:100%; margin:30px 0 0 0; }

.content-tab h2{ font:normal 22px/28px 'Rockwell'; color:#e35e28; }
.content-tab h3{ font:normal 14px/20px Tahoma, Geneva, sans-serif; color:#4c4c4d; padding:20px 0 0 0; }
.content-tab p{ font:normal 14px/18px 'Rockwell'; color:#6e6e6f; text-align:justify; padding:17px 0 0 0; }



#tabs, #supertabs, #tabsnew{
	background: url("../images/inner-main-repe.png") repeat-y scroll 0 0 transparent;
	float: none;
	padding: 7px 2px 30px;
	width: 996px;
	border-radius:0px;
	margin: 0 auto;
	border:0px;
	}
	
#tabs, #tabsnew{
	padding-top:0px;
}	
	
#supertabs{
	padding-bottom:0px;
	border-bottom:1px solid #aaa;
}	

#supertabs table{
	padding:0px;
}

#supertabs table tbody, #supertabs table tbody tr{
	margin:0px;
}	
	
#supertabs .logout{
	width:141px;
	border:1px solid transparent;
	background:none;
	border-radius:0px;
	margin-bottom:10px;
}	

#supertabs .logout:hover{
	/*color:#2D5B91;*/
}
	

#tabs ul, #tabsnew ul{ 
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius:0px;
    border-bottom: 1px solid #aaa;
    height: 42px;
    margin: 0 0 0 -1px;
    padding-left: 100px;
	padding-top:4px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a{
	background:#858584 !important;
}

.ui-widget-header{
	border:0px !important;
	border-bottom:1px solid #aaa !important;
}

#tabs ul li, #tabsnew ul li{ float:left; background:#b0afaf; border: 0 none; padding: 0; display:none;}
#tabs ul li:hover, #tabsnew ul li:hover{ background:#858584; }
#tabs ul li a, #tabsnew ul li a{ font:normal 14px/36px 'Rockwell'; color:#1e1e1e; display:block; padding:0 22px 0 0; text-decoration:none;}
#tabs ul li a span, #tabsnew ul li a span{ background:url(../images/round-li-bull.png) no-repeat left 0px ; width:39px; height:36px; float:left; display:block; text-align:center; font:normal 18px/36px Tahoma, Geneva, sans-serif; color:#cbcbcb; margin:0 9px 0 -20px; }
#tabs ul li a:hover span, #tabsnew ul li a:hover span{ color:#000000; }
#tabs ul li a:hover, #tabsnew ul li a:hover{ color:#ffffff; }

#columns ul li{
	display:block;
}


	
.tooltip_on{
	background: url("../images/on_tooltip.png") no-repeat scroll 0 0 transparent;
    border: 2px outset #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    color: transparent;
    height: 38px;
    width: 108px;
}

.tooltip_on:hover{
	border:2px inset #aaa;
	border-radius:5px;
	cursor:pointer;
}

.tooltip_off{
	background: url("../images/off_tooltip.png") no-repeat scroll 0 0 transparent;
    border: 2px outset #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    color: transparent;
    height: 38px;
    width: 108px;
}

.tooltip_off:hover{
	border:2px inset #aaa;
	border-radius:5px;
	cursor:pointer;
}

.centeredform{
	margin:0 auto;
}


#widgetpages_table{
	margin:0 auto;
}

#widgetpages_table tbody tr td{ 
	text-align:center;
	width:210px;
	}
	
#widgetpages_table tbody tr td input{ 
	margin:10px;
	float:none;
	}

#widgetpages_table tbody tr td label{ 
	margin:0px;
	padding:0px;
	float:none;
	max-width:200px;
	}	