#prodeal_helper div, #prodeal_helper span, iframe, #prodeal_helper h1, #prodeal_helper h2, #prodeal_helper h3, #prodeal_helper h4, #prodeal_helper h5, #prodeal_helper h6, #prodeal_helper p, #prodeal_helper blockquote, #prodeal_helper pre, #prodeal_helper a, #prodeal_helper abbr, #prodeal_helper acronym, #prodeal_helper address, #prodeal_helper big, #prodeal_helper cite, #prodeal_helper code, #prodeal_helper del, #prodeal_helper dfn, #prodeal_helper em, #prodeal_helper img, #prodeal_helper ins, #prodeal_helper kbd, #prodeal_helper q, #prodeal_helper s, #prodeal_helper samp, #prodeal_helper small, #prodeal_helper strike, #prodeal_helper strong, #prodeal_helper sub, #prodeal_helper sup, #prodeal_helper tt, #prodeal_helper var, #prodeal_helper b, #prodeal_helper u, #prodeal_helper i, #prodeal_helper center, #prodeal_helper dl, #prodeal_helper dt, #prodeal_helper dd, #prodeal_helper ol, #prodeal_helper ul, #prodeal_helper li, #prodeal_helper fieldset, #prodeal_helper form, #prodeal_helper label, #prodeal_helper legend, #prodeal_helper table, #prodeal_helper caption, #prodeal_helper tbody, #prodeal_helper tfoot, #prodeal_helper thead, #prodeal_helper tr, #prodeal_helper th, #prodeal_helper td, #prodeal_helper article, #prodeal_helper aside, #prodeal_helper canvas, #prodeal_helper details, #prodeal_helper embed, #prodeal_helper figure, #prodeal_helper figcaption, #prodeal_helper footer, #prodeal_helper header, #prodeal_helper hgroup, #prodeal_helper menu, #prodeal_helper nav, #prodeal_helper output, #prodeal_helper ruby, #prodeal_helper section, #prodeal_helper summary, #prodeal_helper time, #prodeal_helper mark, #prodeal_helper audio, #prodeal_helper video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#prodeal_helper h1, #prodeal_helper h2, #prodeal_helper h3, #prodeal_helper h4, #prodeal_helper h5, #prodeal_helper h6 {
    font-weight: normal;
}
#prodeal_helper ol, #prodeal_helper ul {
    list-style: none outside none;
}
#prodeal_helper blockquote, #prodeal_helper q {
    quotes: none;
}
#prodeal_helper blockquote:before, #prodeal_helper blockquote:after, #prodeal_helper q:before, #prodeal_helper q:after {
    content: none;
}
#prodeal_helper table {
    border-collapse: collapse;
    border-spacing: 0;
}
#prodeal_helper strong {
    font-weight: bold;
}
.grouper {
    display: inline;
    white-space: nowrap;
}
#prodeal_helper {
    background-color: rgba(255, 255, 255, 0.6);
    clear: both;
    direction: ltr;
   /* display: block;*/
    font-family: arial,sans-serif;
    margin-right: 0px;
    min-width: 250px;
    position: relative;
    text-shadow: 0 0 transparent;
    width: 100%;
    z-index: 100;
}
#prodeal_helper.z-pub-4e9b74d70eaa062097001a12 {
    width: 250px !important;
    z-index: 0;
}
#prodeal_helper.z-pub-4e9d26950eaa065a4c00218d {
    width: 370px !important;
    z-index: 0;
}
#prodeal_helper.z-rtl {
    margin-right: 0;
}
#prodeal_helper.z-lt-250 {
    min-width: 220px;
}
#prodeal_helper.z-ie-7, #prodeal_helper.z-ie-8 {
  /*  background: url("/images/mage/product/v2.0/trans-ffffff-60.png") repeat scroll 0 0 transparent;*/
}
#prodeal_helper * {
    border-radius: 0 0 0 0;
    float: none;
    font: inherit;
}
#prodeal_helper a {
    text-decoration: none;
}
#prodeal_helper a:hover {
    text-decoration: underline;
}
#prodeal_helper.z-invited {
    background-position: left 60px;
}
#prodeal_helper .z-label {
    color: white;
    font: 12px arial,sans-serif;
    margin: 0;
    width: auto;
}
#prodeal_helper .z-select {
    margin: 0;
}
#prodeal_helper .z-section, #prodeal_helper .z-clearer, .z-clearer {
    clear: both;
}
#prodeal_helper #z-title-bar {
    background: url("../images/title_bar.png") repeat-x scroll center top transparent;
    color: #000000;
    display: block;
    font-family: "Century Gothic",sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-transform: uppercase;
}
#prodeal_helper #z-title {
    float: left;
}
#prodeal_helper #z-title i {
    /*background: url("/images/mage/product/v2.0/top-arrow.png") repeat scroll 0 0 transparent;*/
    display: block;
    float: left;
    height: 28px;
    margin-right: 6px;
    width: 14px;
}
#prodeal_helper #z-title a {
    color: #00AEEF;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-right: 4px;
    padding: 0 6px;
    text-transform: none;
}
#prodeal_helper.z-lt-250 #z-title a {
    padding: 0 0 0 4px;
}
#prodeal_helper #z-inviter {
    /*background: url("/images/mage/product/v2.0/inviter-arrow.png") no-repeat scroll center bottom transparent;*/
    clear: both;
    display: block;
    height: 45px;
    margin-bottom: -10px;
    padding-bottom: 10px;
    position: relative;
    top: -1px;
}
#prodeal_helper #z-inviter-content {
   /* background: url("/images/mage/product/v2.0/inviter-bg.png") no-repeat scroll right top #004584;*/
    display: block;
    height: 37px;
    overflow: hidden;
    padding: 4px 5px 4px 49px;
}
#prodeal_helper #z-inviter #z-inviter-content span {
    clear: left;
    color: white;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
#prodeal_helper.z-lt-350 #z-inviter #z-inviter-content span {
    font-size: 11px;
    line-height: 13px;
}
#prodeal_helper #z-inviter .not_you {
    color: white;
    font-weight: bold;
    position: absolute;
    right: 46px;
    text-decoration: underline;
    top: 4px;
}
#prodeal_helper #z-inviter .not_you:hover {
    color: black;
    text-decoration: none;
}
#prodeal_helper .z-profile-pic {
    position: relative;
}
#prodeal_helper .z-profile-pic img {
    background-color: white;
    border: 2px solid white;
    border-radius: 2px 2px 2px 2px;
    height: 35px;
    left: 5px;
    position: absolute;
    top: 3px;
    width: 35px;
}
#prodeal_helper .z-profile-pic i {
    display: none;
    height: 11px;
    left: 7px;
    position: absolute;
    top: 29px;
    width: 11px;
}
#prodeal_helper .z-profile-pic.fb i {
   /* background-image: url("/images/mage/product/v2.0/fb-watermark.png");*/
    display: block;
}
#prodeal_helper #z-product-info-link {
    color: #00AEEF;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 23px;
    line-height: 32px;
    margin-right: 4px;
    text-transform: none;
}
#prodeal_helper.z-ie-7 #z-product-info-link, #prodeal_helper.z-ie-8 #z-product-info-link {
    height: 24px;
    margin-top: -1px;
}
#prodeal_helper #z-quantity {
    clear: none;
    margin-top: 4px;
}
#prodeal_helper .z-custom-option {
    color: #373737;
    display: block;
    font-size: 12px;
    line-height: 21px;
    padding: 3px 7px;
}
#prodeal_helper .z-custom-option .z-label {
    color: #373737;
    float: left;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    width: 28%;
}
#prodeal_helper .z-custom-option label, #prodeal_helper .z-custom-option span, #prodeal_helper .z-custom-option input, #prodeal_helper .z-custom-option select {
    color: #373737;
}
#prodeal_helper .z-input-file, #prodeal_helper .z-input-text, #prodeal_helper .z-select, #prodeal_helper .z-checkbox-set {
    background-color: white;
    background-image: none;
    border: 1px solid #B6B6B6;
    float: left;
    font-size: 12px;
    height: 21px;
    padding: 0;
    width: 68%;
}
#prodeal_helper .z-input-text {
    line-height: 12px;
}
#prodeal_helper #qty {
    width: 30px;
}
#prodeal_helper .z-input-file, #prodeal_helper .z-input-text {
    margin-right: -2px;
}
#prodeal_helper .z-checkbox-set {
    background-color: transparent;
    border: 0 none;
    height: auto;
    margin-bottom: 2px;
}
#prodeal_helper .z-custom-option .z-checkbox-set input {
    clear: left;
    display: block;
    float: left;
    height: 19px;
    margin-right: 4px;
}
#prodeal_helper .z-custom-option .z-checkbox-set label {
    color: #2F2F2F;
    display: block;
    height: 19px;
}
#prodeal_helper .z-select-multiple {
    height: 47px;
    margin-bottom: 2px;
}
#prodeal_helper .z-custom-option .z-invalid {
    background-color: #FFEEEE;
    border-color: #DDCCCC;
}
#prodeal_helper .z-custom-option .z-input-text {
    height: 15px;
    padding: 2px 0;
}
#prodeal_helper #z-price {
	/*border-right: 1px solid #2CA8E1;*/
	background-color: #E9F7FF;
	/*-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:7px 7px 7px 7px;*/
	margin-left: 8px;
	margin-bottom: 8px;
}
#prodeal_helper #z-add-to-cart-box {
    background: url("../images/price-bg.png") no-repeat scroll right top transparent;
    clear: both;
    display: block;
    height: 69px;
    margin-right: -26px;
    margin-top: 4px;
    position: relative;
}
#prodeal_helper #z-price-dynamic {
    /*border: 1px solid #2CA8E1;*/
    /*display: block;*/
    height: 48px;
    /*margin-top: -14px;*/
    text-align: center;
}
#prodeal_helper #z-price-dynamic div {
    /*float: left;*/
    text-align: left;
	padding-left: 15px;
    white-space: nowrap;
}
#prodeal_helper #z-price-dynamic .z-currency, #prodeal_helper #z-price-dynamic .z-figure {
    line-height: 28px;
}
#prodeal_helper #z-price-dynamic label, #prodeal_helper #z-price-dynamic span {
    color: #373737;
    font-size: 18px;
    font-weight: bold;
}
#prodeal_helper #z-price-dynamic label {
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding-top: 5px;
    position: relative;
    top: 2px;
}
#prodeal_helper #z-price-dynamic #z-price-value {
    float: left;
    height: 50px;
}
#prodeal_helper #z-price-dynamic #z-price-discount {
    display: inline-block;
    float: none;
}
#prodeal_helper.z-ie-7 #z-price-dynamic #z-price-discount, #prodeal_helper.z-ie-8 #z-price-dynamic #z-price-discount {
    float: left;
}
#prodeal_helper #z-price-dynamic #z-price-save {
   /* border-left: 1px solid #2CA8E1;*/
    float: right;
    height: 49px;
}
#prodeal_helper #z-price #z-price-final {
    float: left;
    height: 56px;
    padding: 0 0 0 16px;
}
#prodeal_helper.z-ie-7 #z-price #z-price-final {
    top: 4px;
}
#prodeal_helper #z-price #z-price-final label, #prodeal_helper #z-price #z-price-final span {
    color: white;
    display: inline;
    font-size: 18px;
    line-height: 55px;
}
#prodeal_helper #z-price #z-price-final label {
    margin-right: 4px;
}
#prodeal_helper #z-price #z-price-final span {
    font-size: 24px;
    font-weight: bold;
}
#prodeal_helper #z-price #z-price-final .z-currency {
    margin-right: -2px;
}
#prodeal_helper #z-price #z-price-final sup {
    font-size: 60%;
    position: relative;
    top: -10px;
}
#prodeal_helper #z-add-to-cart-meta {
}
#prodeal_helper #z-add-to-cart {
    cursor: pointer;
    display: block;
    float: right;
    height: 40px;
    margin: 9px 14px 0 10px;
    min-width: 100px;
    text-decoration: none;
}
#prodeal_helper #z-add-to-cart .z-label {
    background: url("../images/price-buy-bg.png") repeat-x scroll center top transparent;
    color: white;
    display: block;
    float: left;
    font-family: "Century Gothic",sans-serif;
    font-size: 28px;
    font-weight: bold;
    height: 40px;
    line-height: 39px;
    margin: 0 20px;
    overflow: visible;
    padding: 0 6px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px #333333;
    white-space: nowrap;
}
#prodeal_helper #z-add-to-cart .z-left, #prodeal_helper #z-add-to-cart .z-right {
    background: url("../images/price-buy-edges.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 40px;
    width: 20px;
}
#prodeal_helper #z-add-to-cart .z-left {
    margin-right: -20px;
}
#prodeal_helper #z-add-to-cart .z-right {
    background-position: right top;
    float: left;
    margin-left: -20px;
}
#prodeal_helper #z-add-to-cart:hover .z-label {
    background-position: center bottom;
    text-decoration: none;
}
#prodeal_helper #z-add-to-cart:hover .z-left {
    background-position: left bottom;
}
#prodeal_helper #z-add-to-cart:hover .z-right {
    background-position: right bottom;
}
#prodeal_helper #z-info {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E9F7FF;
    border-color: -moz-use-text-color #2CA8E1 #2CA8E1;
	/*border-right: 1px solid #2CA8E1;*/
	background-color: #E9F7FF;
	/*border-radius:7px 7px 7px 7px;*/
    display: block;
    margin-right: 12px;
	width: 290px;
	float:right;
}
#prodeal_helper #z-info i.z-sep {
   /* background: url("/images/mage/product/v2.0/info-arrow.png") no-repeat scroll center bottom transparent;*/
    display: block;
    height: 10px;
    margin-top: -10px;
    position: relative;
    top: 18px;
}
#prodeal_helper #z-time {
    height: 45px;
    padding: 8px 8px 0;
}
#prodeal_helper #z-time i {
   /* background: url("/images/mage/product/v2.0/info-icons.png") no-repeat scroll center top transparent;*/
    display: block;
    float: left;
    height: 24px;
    margin: 10px 6px 0 0;
    width: 24px;
}
#prodeal_helper #z-qty-limit .z-icon-label, #prodeal_helper #z-time .z-icon-label, #prodeal_helper #z-ppl .z-icon-label {
    color: #373737;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 8px;
    max-height: px;
    overflow: hidden;
    width: 92px;
}
#prodeal_helper.z-lt-300 #z-time .z-icon-label, #prodeal_helper.z-lt-300 #z-ppl .z-icon-label {
    display: none;
}
#prodeal_helper.z-gt-500 #z-time .z-icon-label, #prodeal_helper.z-gt-500 #z-ppl .z-icon-label {
    width: 160px;
}
#prodeal_helper #z-time-dynamic {
    overflow: hidden;
    padding-left: 18px;
    padding-top: 9px;
    width: 127px;
}
#prodeal_helper.z-gt-400 #z-time-dynamic {
    padding-left: 68px;
}
#prodeal_helper #z-time-dynamic i {
    background: url("../images/info-meters3.png") no-repeat scroll left top transparent;
    display: block;
    height: 26px;
    margin: 0;
    width: 4px;
}
#prodeal_helper #z-time-dynamic i.z-left {
    float: left;
}
#prodeal_helper #z-time-dynamic i.z-right {
    background-position: right top;
    float: right;
}
#prodeal_helper #z-time-dynamic .z-time-part {
    background: url("../images/info-meters-bg3.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #464545;
    color: white;
    display: block;
    float: left;
    height: 26px;
    padding: 0 1px;
    text-align: center;
    width: 37px;
}
#prodeal_helper #z-time-dynamic .z-time-part span {
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
}
#prodeal_helper #z-time-dynamic .z-time-part label {
        color: white;
    font-size: 9px;
    font-weight: normal;
    margin-left: -2px;
    text-transform: capitalize;
}
#prodeal_helper #z-time-dynamic #z-time-hour {
    padding-left: 1px;
}
#prodeal_helper #z-time-dynamic #z-time-sec {
    border: 0 none;
    padding-right: 1px;
}
#prodeal_helper #z-ppl {
    height: 45px;
    padding: 8px 8px 0;
}
#prodeal_helper #z-ppl i {
   /* background: url("/images/mage/product/v2.0/info-icons.png") no-repeat scroll 0 -24px transparent;*/
    display: block;
    float: left;
    height: 24px;
    margin: 10px 6px 0 0;
    width: 24px;
}
#prodeal_helper.z-tipped #z-ppl i {
    background-position: center bottom;
}
#prodeal_helper #z-ppl .z-icon-label {
}
#prodeal_helper #z-ppl-dynamic {
    overflow: hidden;
    position: relative;
    width: 164px;
}
#prodeal_helper.z-gt-400 #z-ppl-dynamic {
    width: 264px;
}
#prodeal_helper #z-ppl-min {
    float: left;
    margin-right: 3px;
    text-align: right;
}
#prodeal_helper #z-ppl-max {
    float: right;
    margin-left: 3px;
    text-align: left;
}
#prodeal_helper #z-ppl-min, #prodeal_helper #z-ppl-max {
    color: #808080;
    display: block;
    font-size: 11px;
    margin-top: 15px;
    width: 15px;
}
#prodeal_helper #z-ppl-needed {
    clear: both;
    color: #ED1C24;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    padding-top: 2px;
    text-align: center;
}
#prodeal_helper #z-ppl-dynamic #z-ppl-bar-container {
    float: left;
    height: 15px;
    margin-left: 4px;
}
#prodeal_helper #z-ppl-bought {
    /*background: url("/images/mage/product/v2.0/info-ppl-arrow.png") no-repeat scroll 0 8px transparent;*/
    clear: both;
    color: #373737;
    display: block;
    font-size: 10px;
    height: 15px;
    margin-left: -4px;
    padding-left: 10px;
    position: relative;
}
#prodeal_helper.z-tipped #z-ppl-dynamic {
    margin-top: 5px;
    width: auto;
}
#prodeal_helper.z-tipped #z-ppl #z-ppl-bought {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    color: #373737;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    margin: 2px 0 0;
    padding: 0;
    text-align: left;
}
#prodeal_helper.z-tipped #z-ppl #z-ppl-when-tipped {
    clear: both;
    color: #ED1C24;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    padding-top: 2px;
    text-align: left;
}
#prodeal_helper.z-tipped #z-time #z-time-dynamic {
    padding-left: 0;
}
#prodeal_helper #z-ppl-bought.z-rtl {
    background-position: right 8px;
    float: right;
    margin-left: 0;
    margin-right: -4px;
    padding-left: 0;
    padding-right: 10px;
    text-align: right;
}
#prodeal_helper #z-ppl-dynamic .z-ppl-bar {
    clear: both;
    width: 120px;
}
#prodeal_helper.z-gt-400 #z-ppl-dynamic .z-ppl-bar {
    width: 220px;
}
#prodeal_helper #z-ppl-dynamic .z-ppl-bar i {
    background: url("../images/info-meters3.png") no-repeat scroll left -26px transparent;
    display: block;
    height: 15px;
    margin: 0;
    width: 4px;
}
#prodeal_helper #z-ppl-dynamic .z-ppl-bar i.z-left {
    float: left;
    margin-left: -4px;
}
#prodeal_helper #z-ppl-dynamic .z-ppl-bar i.z-right {
    background-position: right -26px;
    float: left;
    margin-right: -4px;
}
#prodeal_helper #z-ppl-dynamic .z-ppl-bar .z-fill {
    background: url("../images/info-meters-bg3.png") repeat-x scroll 0 -26px transparent;
    display: block;
    float: left;
    height: 15px;
    width: 100%;
}
#prodeal_helper #z-ppl-dynamic #z-ppl-bar-full {
    position: relative;
    top: -15px;
}
#prodeal_helper #z-ppl-dynamic #z-ppl-bar-full i.z-left {
    background-position: left -41px;
}
#prodeal_helper #z-ppl-dynamic #z-ppl-bar-full i.z-right {
    background-position: right -41px;
}
#prodeal_helper #z-ppl-dynamic #z-ppl-bar-full .z-fill {
    background-position: 0 -41px;
    width: auto;
}
#prodeal_helper #z-qty-limit {
    height: 45px;
    padding: 8px 8px 0;
}
#prodeal_helper #z-qty-limit i {
    /*background: url("/images/mage/product/v2.0/info-icons.png?v=1.0") no-repeat scroll 0 -72px transparent;*/
    display: block;
    float: left;
    height: 24px;
    margin: 10px 6px 0 0;
    width: 24px;
}
#prodeal_helper #z-qty-limit .z-icon-label {
    color: #ED1C24;
    width: auto;
}
#prodeal_helper.z-lt-300 #prodeal_helper #z-qty-limit .z-icon-label {
    width: 130px;
}
#prodeal_helper #z-qty-limit .z-price {
    color: #373737;
    font-size: 16px;
}
#prodeal_helper #z-social {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: -moz-use-text-color #2CA8E1 #2CA8E1;
    border-right: 1px solid #2CA8E1;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: block;
    padding: 12px;
}
#prodeal_helper #z-target {
    min-height: 43px;
}
#prodeal_helper #z-target label {
    color: #373737;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 0 4px;
    text-align: left;
}
#prodeal_helper #z-profiles {
    float: left;
    height: 25px;
    margin: -2px 4px 8px 0;
    width: 150px;
}
#prodeal_helper #z-profiles a {
    display: inline-block;
    height: 29px;
}
#prodeal_helper #z-profiles img {
    float: left;
    height: 25px;
    margin: 2px 4px 0 0;
    width: 25px;
}
#prodeal_helper #z-invite {
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
#prodeal_helper #z-invite .z-spark {
    /*background: url("/images/mage/product/v2.0/spark.png") no-repeat scroll 0 0 transparent;*/
    float: none;
    height: 25px;
    left: -22px;
    position: absolute;
    width: 22px;
}
#prodeal_helper #z-invite .z-label {
    /*background: url("/images/mage/product/v2.0/share-fb-bg.png") repeat-x scroll center top transparent;*/
    color: white;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding: 0 4px;
    text-decoration: none;
    white-space: nowrap;
}
#prodeal_helper #z-invite .z-left, #prodeal_helper #z-invite .z-right {
  /*  background: url("/images/mage/product/v2.0/share-fb-edges.png") no-repeat scroll left top transparent;*/
    display: block;
    float: left;
    height: 25px;
    width: 24px;
}
#prodeal_helper #z-invite .z-right {
    background-position: right top;
    width: 2px;
}
#prodeal_helper #z-invite:hover .z-label {
    background-position: center bottom;
    text-decoration: none;
}
#prodeal_helper #z-invite:hover .z-left {
    background-position: left bottom;
}
#prodeal_helper #z-invite:hover .z-right {
    background-position: right bottom;
}
#prodeal_helper #z-share {
    height: 20px;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
}
#prodeal_helper #z-share .z-share-item {
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
}
#prodeal_helper.z-lt-250 #z-share .z-share-item {
    margin-right: 0;
}
#prodeal_helper.z-ie-7 #z-share .z-share-item {
    float: left;
}
#prodeal_helper #z-share-mail {
  /*  background: url("/images/mage/product/v2.0/btn-mail.png") no-repeat scroll center top transparent;*/
    display: inline-block;
    height: 20px;
    width: 50px;
}
#prodeal_helper #z-share-twitter {
   /* background: url("/images/mage/product/v2.0/btn-tweet.png") no-repeat scroll center top transparent;*/
    display: inline-block;
    height: 20px;
    width: 55px;
}
#prodeal_helper #z-share-mail:hover, #prodeal_helper #z-share-twitter:hover {
    background-position: center bottom;
}
#prodeal_helper #z-share #z-fb-like {
    margin-right: 0;
    overflow: hidden;
    width: 75px;
}
.z-info-box {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.6);
    position: absolute;
    text-shadow: 0 0 transparent;
    z-index: 101;
}
.z-info-box.z-ie-8 {
    margin-left: 1px;
}
.z-info-box i.z-arrow {
    display: none;
}
.z-info-box .z-info-content {
    border: 1px solid #2CA8E1;
    padding: 10px;
}
.z-info-box .z-info-content, .z-info-box .z-info-content p, .z-info-box .z-info-content ul, .z-info-box .z-info-content li {
    color: #373737;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
}
.z-info-box .z-close {
    color: #373737;
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin: -6px -2px 4px 4px;
}
.z-info-box .z-close a {
    color: #00AEEF;
    text-decoration: none;
}
.z-info-box .z-close:hover a {
    text-decoration: underline;
}
.z-info-box ul, .z-info-box li {
    list-style: disc outside none;
}
.z-info-box ul {
    padding-left: 20px;
}
.z-info-box .title {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #373737;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    margin: 0;
    padding: 0 0 8px;
}
.z-info-box p, .z-info-box ul, .z-info-box z-p {
    display: block;
    margin: 0;
    padding-bottom: 12px;
}
#z-signup.z-subscribed .z-p {
    display: none;
}
#z-signup #z-email {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: -moz-use-text-color #E1E1E1 #E1E1E1 #9A9A9A;
    border-style: solid;
    border-width: 1px;
    color: gray;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 23px;
    line-height: 23px;
    margin: 3px 4px 4px 0;
    outline: medium none;
    padding: 0 5px;
    width: 180px;
}
#z-signup #z-email:focus, #z-signup #z-email.focus {
    color: black;
}
#z-signup .z-grouper {
    display: block;
    float: left;
    white-space: nowrap;
}
.z-info-box #z-signup .z-button {
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    margin-top: 3px;
    text-decoration: none;
}
.z-info-box #z-signup .z-button .z-label {
    background-position: center top;
    background-repeat: repeat-x;
    color: white;
    display: block;
    float: left;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
}
.z-info-box #z-signup .z-button .z-left, .z-info-box #z-signup .z-button .z-right {
    background-position: left top;
    display: block;
    float: left;
    height: 25px;
    width: 12px;
}
.z-info-box #z-signup .z-button .z-right {
    background-position: right top;
}
.z-info-box #z-signup .z-button:hover .z-label {
    background-position: center -25px;
    text-decoration: none;
}
.z-info-box #z-signup .z-button:hover .z-left {
    background-position: left -25px;
}
.z-info-box #z-signup .z-button:hover .z-right {
    background-position: right -25px;
}
.z-info-box .z-info-content #z-subscribe .z-label {
    /*background-image: url("/images/mage/product/v2.0/more-subscribe-bg.png");*/
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px #333333;
}
.z-info-box .z-info-content #z-subscribe .z-label, .z-info-box .z-info-content #z-subscribe .z-label span {
    font-family: "Century Gothic",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.z-info-box .z-info-content #z-signup .z-text {
    font-family: Arial,sans-serif;
    font-size: 12px;
}
.z-info-box.z-ie-7 .z-info-content #z-subscribe {
    padding-right: 12px;
}
#prodeal_helper.z-ie-7 #z-target #z-invite, .z-info-box.z-ie-7 .z-info-content #z-subscribe-fb {
    padding-right: 2px;
}
#prodeal_helper.z-ie-7 #z-add-to-cart .z-label span, #prodeal_helper.z-ie-8 #z-add-to-cart .z-label span, .z-info-box.z-ie-7 .z-info-content #z-subscribe .z-label span, .z-info-box.z-ie-8 .z-info-content #z-subscribe .z-label span {
    display: block;
    width: auto;
}
.z-info-box .z-info-content #z-subscribe .z-left, .z-info-box .z-info-content #z-subscribe .z-right {
   /* background-image: url("/images/mage/product/v2.0/more-subscribe-edges.png");*/
}
.z-info-box .z-info-content #z-subscribe-fb .z-label {
    background-image: url("/images/mage/product/v2.0/share-fb-bg.png");
    font-size: 12px;
    padding: 0 4px;
}
.z-info-box .z-info-content #z-subscribe-fb .z-left, .z-info-box .z-info-content #z-subscribe-fb .z-right {
    /*background-image: url("/images/mage/product/v2.0/share-fb-edges.png");*/
    width: 24px;
}
.z-info-box .z-info-content #z-subscribe-fb .z-right {
    width: 2px;
}
.z-info-box #z-signup .z-text {
    float: left;
    padding: 5px;
}
.z-info-box.z-ie-7 #z-signup .z-text {
    margin-left: -12px;
}
#z-shade {
    background: none repeat scroll 0 0 white;
    border-style: none;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#prodeal_iframe.z-share-dlg {
    background-color: transparent;
    border-style: none;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.z-dummy {
    visibility: hidden;
}



/*---------------------------*/


#interf_table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000000;
border: 1px solid #aaa;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
}

.interf_table tbody{

	background: #ffffff;
}

.interf_table thead{

	background: #E9F7FF;
}

.interf_table tr 
{
font-size:1em;

}

.interf_table td
{
font-size:1em;
padding:3px 7px 2px 7px;
border-bottom:1px solid #E9F7FF;
margin-top: 40px;
text-align: center;
}