@charset "utf-8";
/* CSS Document */

#widget_flexbanner2{
	background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    margin-top:20px;
    padding: 0;
    width: auto;
	/*border:1px solid #2B528E;
	border-radius:8px;*/
}

#widget_flexbanner2 .widget_head{
	background: none repeat scroll 0 0 #2B528E;
    color: white;
    float: none;
    margin: 0 auto;
    padding: 10px;
	/*border-radius:8px 8px 0px 0px;*/
    width: auto;
}

#widget_flexbanner2 .widget_content{
	background: none;
    padding: 10px 10px 10px 0px;
    width: 100%;
	float:left;
}

#widget_flexbanner2 .widget_content a{
	width:100%;
	text-align:left;
	float:left;
	color:black;
}


#widget_flexbanner2 a .flexbanner{
	float:left;
	width:inherit;
}
